.Schedule{
    background-color: rgba(231, 255, 230, 0.788);
    border-radius: 5%;
    width: 200px;
    height: 400px;
    position: relative;
    top: 0px;     left: 20px;
}

.Preparation{
    background-color: rgba(231, 255, 230, 0.788);
    border-radius: 5%;
    width: 200px;
    height: 200px;
    position: relative;
    top: -420px;     left: 250px;
}

.VideoMaterial{
    background-color: rgba(231, 255, 230, 0.788);
    border-radius: 5%;
    width: 200px;
    height: 200px;
    position: relative;
    top: -640px;     left: 480px;
}